<?xml version="1.0"?>
<!--
/**
 * Magento 2 extensions for Clearpay Payment
 *
 * @author Clearpay
 * @copyright 2016-2021 Clearpay https://www.Clearpay.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Clearpay\Clearpay\Model\Adapter\ApiMode">
        <arguments>
            <argument name="environments" xsi:type="array">
                <item name="sandbox" xsi:type="array">
                    <item name="label" xsi:type="string">Sandbox</item>
                    <item name="api_url" xsi:type="string">https://api.eu-sandbox.afterpay.com/</item>
                    <item name="web_url" xsi:type="string">https://portal.sandbox.clearpay.co.uk/</item>
                	<item name="js_lib_url" xsi:type="string">https://js.sandbox.afterpay.com/</item>
                </item>
                <item name="production" xsi:type="array">
                    <item name="label" xsi:type="string">Production</item>
                    <item name="api_url" xsi:type="string">https://api.eu.afterpay.com/</item>
                    <item name="web_url" xsi:type="string">https://portal.clearpay.co.uk/</item>
                	<item name="js_lib_url" xsi:type="string">https://js.afterpay.com/</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="addClearpayTokenToResponse" type="Clearpay\Clearpay\Model\PaymentInformationManagement\Plugin" />
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="addClearpayTokenToResponse" type="Clearpay\Clearpay\Model\GuestPaymentInformationManagement\Plugin" />
    </type>
    <type name="Clearpay\Clearpay\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Clearpay\Clearpay\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">clearpay</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Clearpay\Clearpay\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>