<?xml version="1.0"?>
<!--
/**
 * Magento 2 extensions for Clearpay Payment
 *
 * @author Clearpay
 * @copyright 2016-2019 Clearpay https://www.clearpay.co.uk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <clearpaypayovertime>
                <active>0</active>
                <title>Clearpay</title>
                <api_mode>sandbox</api_mode>
                <model>Clearpay\Clearpay\Model\Payovertime</model>
                <payment_action>authorize_capture</payment_action>
                <merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <allowspecific>1</allowspecific>
                <specificcountry>GB</specificcountry>
                <http_header_support>0</http_header_support>
            </clearpaypayovertime>
        </payment>
    </default>
</config>