<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Clearpay\Clearpay\Controller\Express\PlaceOrder">
        <arguments>
            <argument name="syncCheckoutDataCommand" xsi:type="object">Clearpay\Clearpay\Gateway\Command\SyncCheckoutDataCommand</argument>
        </arguments>
    </type>
    <type name="Clearpay\Clearpay\Controller\Payment\Capture">
        <arguments>
            <argument name="validateCheckoutDataCommand" xsi:type="object">Clearpay\Clearpay\Gateway\Command\ValidateCheckoutDataCommand</argument>
            <argument name="logger" xsi:type="object">Clearpay\Clearpay\Logger</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Order\Totals">
        <plugin name="clearpay_order_total_remove_base_grand_total_for_cbt" type="Clearpay\Clearpay\Plugin\Block\Order\Totals"/>
    </type>

    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="clearpay_sidebar_update" type="Clearpay\Clearpay\Plugin\Checkout\Block\Cart\Sidebar"/>
    </type>

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="clearpay_item_additional_attributes" type="Clearpay\Clearpay\Plugin\Checkout\CustomerData\Cart" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="clearpay_config_provider" xsi:type="object">Clearpay\Clearpay\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
