<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Clearpay\Clearpay\Block\Payment\Info">
        <arguments>
            <argument name="config" xsi:type="object">Clearpay\Clearpay\Gateway\Config\Config</argument>
        </arguments>
    </type>
    <type name="Clearpay\Clearpay\Block\Adminhtml\System\Config\Fieldset\AllowedByCountry">
        <arguments>
            <argument name="clearpay" xsi:type="object">Clearpay\Clearpay\Model\Method\MethodFacade</argument>
        </arguments>
    </type>
    <virtualType name="Clearpay\Clearpay\Block\Adminhtml\System\Config\Fieldset\Payment" type="Clearpay\Clearpay\Block\Adminhtml\System\Config\Fieldset\AllowedByCountry">
        <arguments>
            <argument name="allowedCountriesConfigPath" xsi:type="string">allowed_merchant_countries</argument>
        </arguments>
    </virtualType>
    <virtualType name="Clearpay\Clearpay\Block\Adminhtml\System\Config\Fieldset\ExpressCheckout" type="Clearpay\Clearpay\Block\Adminhtml\System\Config\Fieldset\AllowedByCountry">
        <arguments>
            <argument name="allowedCountriesConfigPath" xsi:type="string">expresscheckout/allowed_merchant_countries</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items">
        <plugin name="clearpay_remove_offline_refund_button" type="Clearpay\Clearpay\Plugin\Block\Adminhtml\Order\Creditmemo\Create\Items" />
    </type>
    <type name="Magento\CustomerBalance\Block\Adminhtml\Sales\Order\Creditmemo\Controls">
        <plugin name="clearpay_remove_customer_balance_from_creditmemo" type="Clearpay\Clearpay\Plugin\Block\Adminhtml\CustomerBalance\Order\Creditmemo\Controls" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="clearpay_remove_creditmemo_button_from_order_view" type="Clearpay\Clearpay\Plugin\Block\Adminhtml\Order\View" />
    </type>
</config>
