/**
 * Magento 2 extensions for Clearpay Payment
 *
 * @author Clearpay
 * @copyright 2016-2020 Clearpay https://www.clearpay.co.uk
 */

/** clearpay.css */
.checkout-payment-method .payment-method #clearpaypayovertime.payment-method-content {
    padding-right: 22px;
}

.checkout-payment-method .payment-method._active #clearpaypayovertime.payment-method-content {
    overflow:hidden
}

#clearpaypayovertime-method .payment-method-note {
    font-size: 1.2rem;
    color: #a0a0a0;
    text-align: center;
}

#clearpaypayovertime-method .payment-method-note h3 {
    color: #00a4e4;
    text-align: left;
}

#clearpaypayovertime-method .payment-method-note ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

#clearpaypayovertime-method .payment-method-note ul li {
    width: 24%;
    display: inline-block;
}

#clearpaypayovertime-method .payment-method-note ul.cost li {
    font-size: 1.8rem;
    color: #153F72;
}

#clearpaypayovertime-method .clearpay-checkout-redirect {
    margin-top: 1rem;
    text-align: left;
    background-color: #f6f7f9;
    display: inline-block;
    padding: 15px;
}

#clearpaypayovertime-method .clearpay-checkout-redirect .instalment-footer {
    width: 100%;
    float: left;
}

@media only screen and (min-width : 992px) {
    #clearpaypayovertime-method .clearpay-checkout-redirect .instalment-footer {
        width: 57%;
    }
}

@media only screen and (min-width : 1200px) {
    #clearpaypayovertime-method .clearpay-checkout-redirect .instalment-footer {
        width: 65%;
    }
}

#clearpaypayovertime-method .actions-toolbar {
    float: right;
    margin-top: 1.5rem;
    line-height: 1.1;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width : 992px) {
    #clearpaypayovertime-method .actions-toolbar {
        width: auto;
        margin-top: 0px;
    }
}

@media only screen and (min-width : 768px) {
    #clearpaypayovertime-method .actions-toolbar .primary {
        width: 100%;
    }
}

.modal-popup.clearpay-learn-more .modal-inner-wrap {
    width: 360px !important
}

@media only screen and (min-width : 992px) {
    .modal-popup.clearpay-learn-more .modal-inner-wrap {
        width: 659px !important
    }
}

.modal-popup.clearpay-learn-more .modal-inner-wrap .modal-footer button{
    display: none;
}

.modal-popup.clearpay-learn-more .action-close {
    padding: 1.75rem !important;
}

.clearpay_instalments_logo {
    vertical-align: middle;
    display: inline-block;
    height: 15px;
}

.clearpay_checkout_steps {
    background-size: 18px 18px;
    vertical-align: middle;
    display: inline-block;
    height: 18px;
    width: 18px;
}
.clearpay_checkout_steps_1 {
    background-image: url("https://static.afterpay.com/checkout/circle_1@2x.png");
}
.clearpay_checkout_steps_2 {
    background-image: url("https://static.afterpay.com/checkout/circle_2@2x.png");
}
.clearpay_checkout_steps_3 {
    background-image: url("https://static.afterpay.com/checkout/circle_3@2x.png");
}
.clearpay_checkout_steps_4 {
    background-image: url("https://static.afterpay.com/checkout/Circle_4@2x.png");
}
.checkout-methods-items button.btn-clearpay-checkout {
    padding: 13px 15px 10px 10px;
    width: 100%;
}
.checkout-payment-method #clearpaypayovertime-method .payment-icon{
	height:40px;
	width:auto;
}

.clearpay.primary {
  background-image: none;
  background: #000;
  border: 1px solid #000;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  
}
.clearpay.primary:focus,
.clearpay.primary:active,
.clearpay.primary:hover  {
  background: #000;
  border: 1px solid #000;
  color: #ffffff;
}

.clearpay.primary.disabled,
.clearpay.primary[disabled],
fieldset[disabled] .clearpay.primary {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
